/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ccc;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Estilos para las secciones específicas */
h2 {
    color: #333;
}

.tab {
    overflow: hidden;
    background-color: #f1f1f1;
    margin-bottom: 20px;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    display: none;
    padding: 20px;
    border-top: 1px solid #ccc;
}

/* Estilos para la galería de arte */
.artwork {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.artwork-item {
    flex: 0 0 calc(33.33% - 20px);
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.artwork-item:hover {
    transform: translateY(-5px);
}

.artwork-item img {
    max-width: 100%;
    height: auto;
}

.artist-profile {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.artist-item {
    flex: 0 0 calc(33.33% - 20px);
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.artist-item:hover {
    transform: translateY(-5px);
}

.artist-item img {
    max-width: 100%;
    height: auto;
}

.event-list {
    list-style-type: none;
    padding: 0;
}

.event-item {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}

.event-item:last-child {
    border-bottom: none;
}

/* Estilos para el formulario de contacto */
form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

input[type="submit"]:hover {
    background-color: #555;
}